
* {
  box-sizing: border-box;
}


/* HEADER */

/*main nav*/

/* 1066px~ main 사이 공간 고정 */
/* @media screen and (min-width: 1101px) {} */
.main-nav {
  display: flex; /* child한테 적용 */
  justify-content: center;
  align-items: center;

  .main-nav-ul  {  
    width: 840px; /* 좌우 공간 이거 괜찮은 거임?*/
    margin: 10px 0;  /* 상하 공간*/
    display: flex; /* child한테 적용 */
    justify-content: center;
    align-items: center;
  
    .top-items-letters {
      list-style: none;
      text-align: center;
    }
  
    .top-items-images {
      list-style: none;
      text-align: center;
      
      .button-images {
        width: 15px;
        height: auto;
      }
    }
    @media screen and (min-width: 1066px) {
      #li-1 {width: 140.8px;}
      #li-2 {width: 128px;}
      #li-3 {width: 128px;}
      #li-4 {width: 153.6px;}
      #li-5 {width: 153.6px;}
      #li-6 {width: 153.6px;}
      #li-7 {width: 179.2px;}
      #li-8 {width: 256px;}
      #li-9 {width: 281.6px;}
      #li-10 {width: 243.2px;}
      #li-11 {width: 204.8px;}
      
      #ic-1 {width: 100px;}
      #ic-2 {width: 100px;}
      #ic-3 {width: 100px;}
    }
  }
}
/* 중첩이면 & 넣어야함 8/




/* 851~1065px 사이 공간 줄어듦 */
@media screen and (max-width: 1065px) and (min-width: 851px) {

  #li-1 {width: 11%;}
  #li-2 {width: 10%;} 
  #li-3 {width: 10%;}
  #li-4 {width: 12%;}
  #li-5 {width: 12%;}
  #li-6 {width: 12%;}
  #li-7 {width: 14%;}
  #li-8 {width: 20%;}
  #li-9 {width: 22%;}
  #li-10 {width: 19%;}
  #li-11 {width: 16%;} 

  #ic-1 {width: 8%;}
  #ic-2 {width: 8%;}
  #ic-3 {width: 8%;}
}


/* ~850px hidden */

@media screen and (max-width: 850px) {
  .main-nav-ul {
    visibility: hidden;
  }
}



/* 1. 4. iMac nav list :iMac and other four*/
/* all nav link style :hover bold*/
:root {
  --nav-hover-color: black;
  --nav-color: rgb(100,100,100);
  --nav-font-family: 'Roboto', 'Poppins', 'Inter';
}
.link-style-nav, .link-style-nav:visited {
  background-color: transparent;
  display: block;
  color: var(--nav-color);
  font-family: var(--nav-font-family); 
  font-weight: medium;
  text-decoration: none;
  font-size: 12px;
}
.link-style-nav:hover {
  color: var(--nav-hover-color); 
}


/* main LR center 유지, top-nav와 같음
  중간 R만 왼쪽으로, 사이 공간 유지
  작음 R만 hidden */

/* 6. Second nav total */
.Second-nav {
  display: flex;
  justify-content: center;

  /* fixed */
  /*
  position: fixed;
  position: absolute;
  z-index: 2;
  */

  /* 3. right parent element */
  .right-container {
    display: flex;
    justify-content: flex-end;
  
    /* 2.5 right ul */
    .right-list {
      border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 10px 0;  /* 상하 공간*/
      width: 350px; /* 좌우 공간 */
          
      /* 2. right items li :center */
      .right-items {
        border: 1px solid yellowgreen;
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
      }
    }
    
  }
    
  /* 5. iMac item only li :start */
  &:first-child {
    border: 1px solid purple;
    list-style: none;
    display: inline-block;
    margin-top: 10px;
  }


  /* menu */
  .menu {
    visibility: hidden;
  }


}


@media screen and (min-width: 501px) {
  #li-a {width: 100px;}
  #li-b1 {width: 70px;}
  #li-b2 {width: 90px;}
  #li-b3 {width: 70px;}
  #li-b4 {width: 95px;}
  #li-c {width: 55px;}
}


@media screen and (max-width: 500px) {
  .right-container {
    visibility: collapse;
  }
}


.link-style-button {
  background-color: #6C6AFD;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  font-size: 14px;
  padding: 3px 10px;
  margin: 0 auto;
  text-align: center;
}
.link-style-button:hover {
  background-color: red;
}

/* /HEADER */







.discount-information {
  display: block;
  padding: 13px 0;
  border-top: 0.5px solid rgb(150, 150, 150);
  text-align: center;
  background-color: #f3f3f3;
}



/* Main */

/* first-photo */
/* main the largest */
.first-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

/* 중간 */
@media screen and (max-width: 1000px) {
  .first-photo {
    width: 850px;
  }
}


main div {
  text-align: center;
}

main h1 {
  font-size: 70px;
  font-family:'Segoe UI', 'Tahoma', 'Verdana', 'sans-serif';
  font-weight:550;
  width: 70%;
  display: inline-block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
main h2 {
  font-size: 60px;
  font-family:'Segoe UI', 'Tahoma', 'Verdana', 'sans-serif';
  font-weight:600;
  width: 70%;
  margin: 100px auto 20px;
  text-align: center;
}




.width-of-paragraph {
  width: 700px;
  margin: 20px auto;
  text-align: center;
}


p {
  font-family:'Segoe UI', 'Tahoma', 'Verdana', 'sans-serif';
}


.link-style-bracket {
  color: blue;
  text-decoration: none;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.link-style-bracket:hover {
    text-decoration: underline;
}



footer {
  display: block;
  width: 200px;
  margin: 20px auto;
}
